$header-height: 85px;
$footer-height: 75px;
$header-font-size: 65px;
$bar_height: 17px;

/* Colors */
$darker-main: #c53d43;
$lighter-main: #fff;

$dark-main: #ee827c;
$light-main: #FFDAE2; //#fdeff2;

$slight: #FFCED8;
$light: #f4b3c2; //#f6bfbc
$green: #88c134;
$red: #d2315d;
$blue: #22b5bf;
$yellow: #f7c808;

$pos: #88c134;
$med-pos: #f7c808;
$med-neg: #e98813;
$neg: #d2315d;
$neu: #f7c808;

$success-dark: #629417;
$success-light: #c3dd9b;
$error-dark: #d23131;
$error-light: #e5a5a5;

$diag-trans: rgba(238, 130, 124, 0.7);
$trans-black: rgba(0,0,0,.7);

$check-color: #53a93f;
$cancel-color: #e95a61;

$light-bg: #fff;
$box-shadow-color: #f4b3c2;

$dialog-bg: #ee827c;
$dialog-bg-op: .7;

$overlay-bg: #000;
$overlay-bg-op: .7;

$loading-img: '/images/loading.gif';
$icon-dark: '/images/tsuiseki-icon_ed2_sm.png';
$icon-light: '/images/tsuiseki-icon_ed2_sm_inv.png';
$icon: '/images/tsuiseki-icon_ed2_both3.png';

//$gradient-light: rgba(252,252,252,1);
$gradient-light: #f4b3c2;
//$gradient-light-dark: rgba(230,231,234,1);
$gradient-light-dark: #f4b3c2;
//$gradient-dark: rgba(210,211,214,1);
$gradient-dark: #c53d43;
//$gradient-border-color: rgba(200,201,204,1);
$gradient-border-color: #f4b3c2;
//$gradient-text-color: rgba(170,170,170,1);
$gradient-text-color: #f4b3c2;
//$gradient-shadow-dark: rgba(0,0,0,0.45);
$gradient-shadow-dark: #c53d43;
//$gradient-shadow-light: rgba(255,255,255,0.45);
$gradient-shadow-light: #f4b3c2;
//$gradient-text-focus: rgba(110,111,114,1);
$gradient-text-focus: #c53d43;
//$gradient-focus: rgba(255,255,255,1);
$gradient-focus: #c53d43;

$add-light: rgb(174,230,138);
$add-dark: rgb(149,221,100);
$add-color: rgba(92,174,38,.8);
$add-border: rgba(92,174,38,1);
