h2.tit = showEpisode.name!

/ 85 - 100% positive should be pol-pos. 70 - 85% should be pol-med-pos.
  50 - 70% should be pol-med-neg; 0 - 50% should be pol-neg.

#comment-filter class={filter}
  .global
    = link-to 'comments' userShow episode (query-params filter='null') | Global
  .victims
    = link-to 'comments' userShow episode (query-params filter='victims') | Victims
  .self
    = link-to 'comments' userShow episode (query-params filter='self') | Self

#comment-wrap class={filter}
  .arrow
  .comment-ep
    .ep-img
      img src='{{ unbound showEpisode.coverImage }}'
      span ep #{episode}

    .ep-score class=hasEpisodeScore:double:single
      if hasScore
        if hasEpisodeScore
          .episode-score class={:pol episodeMedium:med episodePositive:pos episodeNegative:neg}
            .score-percent = episodeScore
            span.score-pol % positive this episode

        if hasShowScore
          .show-score class={:pol showMedium:med showPositive:pos showNegative:neg}
            .score-percent = showScore
            span.score-pol % positive overall
      else
        .no-scores
          .score-percent --
          span.score-pol no scores
  .comments
    if model.isPending
      | Loading...
    else
      each comment in controller
        .comment
          .text
            if comment.comment
              p = comment.comment
            else
              p: i No comment given
            .info
              = link-to 'actions.user' comment.user.username classNames='user'
                = comment.user.username
              '  —
              span.date = format-moment comment.modifiedMoment format='DD MMM [a]t HH:mm'
          .score
            span class={:pol comment.liked:pos comment.disliked:neg comment.neutral:neu}
              if comment.liked
                | :)
              if comment.neutral
                | :|
              if comment.disliked
                | :(
      else
        | No comments on this episode

      if model.loadingMore
        | Loading...
      else
        if showLoad
          button.more click='loadNext' load more

  .comment-edit
    = link-to 'comments.edit' userShow episode
      if showEpisode.hasComment
        | edit comment
      else
        | add comment

  .comment-nav
    if showPreviousEpisode
      button.left click='previousEpisode': i.icon-left-open-big

    if showNextEpisode
      button.right click='nextEpisode': i.icon-right-open-big
