{% extends 'admin/change_list.html' %}

{% block object-tools-items %}
  {{ block.super }}
  <li>
    <a href="{% url 'admin:import_shows' %}">
      Import
    </a>
  </li>
  <li>
    <a href="{% url 'admin:import_shows_from_file' %}">
      Import from File
    </a>
  </li>
{% endblock %}
