{% extends "admin/base_site.html" %}
{% load i18n admin_urls admin_static admin_modify %}

{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
{{ media }}
{% endblock %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />{% endblock %}

{% block coltype %}colM{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} import-form{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label='core' %}">Core</a> &rsaquo; <a href="{% url 'admin:core_show_changelist' %}">Shows</a>
&rsaquo; Import shows
</div>
{% endblock %}

{% block content %}<div id="content-main">
<form method="post" enctype="multipart/form-data">{% csrf_token %}{% block form_top %}{% endblock %}
<div>
  {% if import_form.errors %}
      <p class="errornote">
        {% trans "Please correct the error below." %}
      </p>
      {{ import_form.non_field_errors }}
  {% endif %}
  <fieldset class="module aligned">
    <h2>Import a text file</h2>
    <div class="form-row {% if import_form.errors %}errors{% endif %}">
      <div>
        {{ import_form.import_file.errors }}
        {{ import_form.import_file.label_tag }} {{ import_form.import_file }}
      </div>
    </div>
  </fieldset>
  <div class="submit-row">
    <input type="submit" value="{% trans 'Save' %}" class="default" name="_save" />
  </div>
</form></div>
{% endblock %}
