#show_search {
  margin-top: 30px;
  text-align: center;
  display: inline-block;
  position: relative;

  input {
    border: 1px solid $dialog-bg;
    border-radius: 5px;
    background: transparent;
    text-align: center;
    padding: 5px 10px;
    color: $dialog-bg;
    width: 300px;
    font-weight: 300;
    opacity: .4;

    &:focus {
      outline: none;
      //background: rgba(250,250,250,.3);
      opacity: 1;
    }
  }
}

.add_show {
  text-align: center;

  section {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
