.edit[role="dialog"] {
  input {
    width: 3em;
  }

  .lastEpisodeWatched input {
    text-align: right;
  }

  .drop {
    @include transition(opacity 0.5s);
    display: inline-block;
    height: 33px; //the height of the h2
    vertical-align: middle;
    opacity: 0.7;
    margin-left: 5px;
    background: transparent;
    font-size: 14pt;

    &:hover, &:focus {
      opacity: 1;
    }
  }
}
