header.header {
  position: absolute;
  height: $header-height;
  color: $dark-main;
  border-bottom: 2px dashed $dark-main;
  z-index: 3;
  width: 100%;

  h1 {
    height: $header-height;
    text-align: center;
    font-size: $header-font-size;
    line-height: 1.2;
    font-weight: 200;
    margin-right: $header-height + 5px;
    margin-left: $header-height + 5px;
    overflow: hidden;

    @media (max-width: 600px) {
      margin-left: 0;
    }
  }
  
  #logo {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    height: 100%;
    width: $header-height;
    text-align: center;
      
    div {
      width: ($header-height * .9);
      height: 90%;
      border: 2px solid $dark-main;
      border-radius: 50%;
      //padding: 0 2px 2px 2px;
      //background-color: transparent;
      //background-image: url($icon);
      //background-position: center top;
      //background-repeat: no-repeat;
    }
    
    span {
      font-size: $header-font-size;
      color: $dark-main;
      margin-top: -12px;
      display: block;
      font-size: 60px;
      font-family: Roboto;
      font-weight: 200;
    }
  }
  
  #logo:not(.open) {
    &:hover {
      background-color: $dark-main;
      //background-position: center -1 * $header-height;
      
      div {
        border-color: $light-main;
      }
      span {
        color: $light-main;
      }
    }
  }

  #logo.open {
    background-color: $dark-main;
    //background-position: center -1 * $header-height;
    
    div {
      border-color: $light-main;
    }
    span {
      color: $light-main;
    }
  }
  

  nav {
    position: absolute;
    right: 0;
    display: none;
    opacity: 0;
    max-height: 0;
    background: $dark-main;
    color: $lighter-main;
    padding: 20px 0 10px 0;
    z-index: 4;
    top: $header-height;
    font-size: 13pt;
    text-align: right;
    border-bottom-left-radius: 100px;
    overflow: hidden;
    border: 5px solid $dark-main;

    li {
      list-style-type: none;

      a {
        padding: 3px 25px 3px 25px;
        text-decoration: none;
        color: $lighter-main;
        display: block;

        &:hover, &:focus {
          background: $light-main;
          color: $dark-main;
          cursor: pointer;
          color: $dark-main;
        }
      }

      &.logout, &.login {
        display: inline-block;
        width: auto;
        float: right;
        margin: 5px 15px -5px 0;

        i {
          font-size: 21px;
          position: absolute;
          left: 50%;
          top: 50%;
          -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
        }

        a {
          display: block;
          width: 30px;
          height: 30px;
          position: relative;
          padding: 0;
          border-radius: 15px;
        }
      }
    }
  }
}
