@mixin base-list {
  text-align: center;
  padding: 20px 0 20px 0;

  h2 {
    text-align: left;
    display: block;
    margin-bottom: 10px;
    color: $dark-main;
    border-bottom: 1px solid $dark-main;
    font-weight: 300;
    font-size: 30pt;

    a {
      text-decoration: none;
    }
  }
}

@mixin text-marquee {
  overflow: hidden;

  & > :first-child {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
