aside[role=alert] {
  #notices {
    position: relative;
    border-bottom: 2px dashed $dark-main;
    text-align: center;
    vertical-align: top;
    height: 0;
    padding: 0;
    transition: .5s;
    overflow: hidden;

    i {
      position: absolute;
      margin: 0 15px;
      right: 0;
      opacity: .5;

      &:hover{
        opacity: 1;
        cursor: pointer;
      }
    }

    .notice-viewport {
      @include text-marquee;
    }

    .notice {
      width: 100%;

      .date {
        font-weight: bolder;
      }

      & > p {
        display: inline;
      }
    }

    &.open {
      height: 20px;
      padding: 10px 35px;
    }
  }

  &:before {
      content: "";
      display: block;
      height: $header-height;
  }
}
