article.show {
  @include transition(opacity 0.5s);
  background: $light-bg;
  display: inline-block;
  margin: 5px;
  padding: 0;
  //padding-bottom: $bar_height + 5px;
  box-shadow: 0 0 2px 1px $box-shadow-color;
  width: 250px;
  vertical-align: top;
  position: relative;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;

  & > div:first-child {
    overflow: hidden;
    position: relative;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    z-index: 1;
  }
  .title {
    background: $lighter-main;
    margin: 5px 0 0 0 !important;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  .title > div {
    @include text-marquee;
    margin: 0 12.5px 0 12.5px;
    box-sizing: border-box;
    text-align: center;
    position: relative;
    //height: 23px;

    h3 {
      width: 225px;
      font-family: 'Roboto Condensed';
      font-size: 17px;
      font-weight: 500;
    }
  }

  .sub, .time, .new {
    white-space: nowrap;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    //background: #fff;
    background: $trans-black;
    color: $lighter-main;
    //box-shadow: 0px 0px 3px 0px #000;
    //font-weight: 400 !important;
  }
  .sub, .new {
    top: 0;
    padding: 0 9px 3px 9px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  .time {
    bottom: 0;
    padding: 1px 9px 2px 9px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }

  p {
    font-weight: 300;
    line-height: 1.1;
  }

  div.image {
    height: 141px;
    overflow-y: hidden;
    //margin-bottom: 5px;
    margin: 0;
    position: relative;
    overflow-x: hidden;
  }

  img {
    width: 100%;
    height: auto;
  }

  .plus {
    /*position: absolute;
    top: 0;
    right: 5px;
    color: $lighter-main;
    font-weight: 700;
    font-size: 35px;
    opacity: 0;
    text-shadow: 0 0 2px #000;
    transition: .3s;

    &:hover {
        cursor: pointer;
    }*/

    &.saving {
      display: none;
    }
  }

  .bar {
    @include transition(width 0.3s);
    height: $bar_height;
    position: absolute;
    //bottom: 0;
    //height: 17px;
    top: 0;
    left: 0;
    z-index: -1;

    &.tot {
      width: 100%;
      background: $red;
    }

    &.out {
      background: $blue;
    }

    &.wat {
      background: $green;
    }
    &.non {
      width: 100%;
      background: $dark-main;
    }
    &.newBar {
      width: 100%;
      background: transparent linear-gradient(to right, rgb(255, 0, 0), rgb(255, 165, 0), rgb(255, 255, 0), rgb(0, 128, 0), rgb(0, 0, 255), rgb(75, 0, 130), rgb(238, 130, 238)) repeat scroll 0% 0%;
      background-color: rgb(240, 120, 24);
      background: -webkit-linear-gradient(left,red,orange,yellow, green, blue,indigo,violet);
      background: -ms-linear-gradient(left,red,orange,yellow, green, blue,indigo,violet);
      background: -o-linear-gradient(left,red,orange,yellow, green, blue,indigo,violet);
      background: linear-gradient(to right,red,orange,yellow, green, blue,indigo,violet);
      opacity: 0.7;
    }
  }

  .eps {
    position: absolute;
    top: 0;
    //left:0;
    //color: $darker-main;
    background: $light-bg;
    font-weight: 900;
    //width: 0;
    opacity: 0;
    //overflow: hidden;
    transition: .3s;
    //border-bottom-right-radius: 15px;
    text-align: right;
    box-shadow: 0 0 1px 1px $box-shadow-color;
    z-index: 4;
    left: 50%;
    transform: translateX(-50%);
    color: $lighter-main;
    padding: 5px 3px;
    //overflow: visible !important;

    span {
      padding: 2px 5px;
    }

    .ep_wat {
      background: $green;
      color: $lighter-main;
    }

    .ep_out {
      background: $blue;
      color: $lighter-main;
    }

    .ep_tot {
      background: $red;
      color: $lighter-main;
      //padding-right: 10px !important;
    }
  }

  .arrow-down {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;

    border-top: 5px solid $lighter-main;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
  }

  &.translucent {
    opacity: .5;
    z-index: 1;
  }

  &:hover {
    &.translucent {
      opacity: 1;
    }

    .eps {
      opacity: 1;
      transform: translate(-50%,-120%) !important;
    }

    .i-left > *, .i-right > * {
      width: 50px;
      opacity: 1;
    }
  }

  &.hide {
    opacity: 0;

    &.translucent {
      opacity: 0;
    }
  }

  .i-right, .i-left {
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    //width: 50px;
    //display: block;
  }
  .i-right {
    right: 0;
  }
  .i-left {
    left: 0;
  }

  .i-right > * {
    //color: #737373 !important;
    //text-shadow: none !important;
    //right: 0;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
  }
  .i-left > * {
    //left: 0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  .i-left > *, .i-right > * {
    //color: #737373;
    background: $lighter-main;
    height: 50px !important;
    width: 0;
    //opacity: 1 !important;
    position: relative;
    display: block;
    margin: 2px 0 !important;
    font-size: 30px;
    color: $dark-main;
    transition: width .3s, opacity .3s;
    opacity: 0;

    & > :first-child {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
    &:hover {
      background: $dark-main;
      cursor: pointer;

      & > :first-child {
        color: $lighter-main !important;
      }
    }
  }
}
